@font-face {
  font-family: 'Recoleta';
  src: url('./assets/fonts/recoleta/Recoleta-RegularDEMO.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Recoleta';
  //   color: #170d42;
  color: #efe2e2;
}

.home-wrapper {
  min-height: 100vh;
  #videoBg {
    position: fixed;
    z-index: -1;
    @media (min-aspect-ratio: 16/9) {
      width: 100%;
      height: auto;
    }
    @media (max-aspect-ratio: 16/9) {
      width: auto;
      height: 100%;
    }
    @media (max-width: 770px) {
      display: none;
    }
  }
  @media (max-width: 770px) {
    background:linear-gradient(to bottom, rgb(149 94 150 / 52%), rgb(50 3 39 / 90%)), url('./assets/img/bg.PNG');
    background-size: cover;
    background-position: center;
  }
  background: linear-gradient(to bottom, rgb(149 94 150 / 52%), rgb(50 3 39 / 90%));
  .title {
    font-weight: bold;
    padding-top: 10vh;
    font-size: 40px;
  }
  .search-container {
    position: relative;
    input {
      padding: 0.5rem 2rem;
      width: 80%;
      border-radius: 5px;
      border: none;
      &:focus {
        outline: none;
      }
    }
    .input-icon {
      position: absolute;
      top: 6px;
      left: 8px;
    }
  }
  .card-shadow {
    background: rgb(39 11 32 / 47%);
    border-radius: 8px;
    padding: 1.4rem;
    color: #efe2e2;
  }
  .btn {
    cursor: pointer;
  }
  .btn-nominate {
    background: #7935ff;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
  }
  .btn-red {
    background: #a91c1c;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
  }
  .btn-search {
    color: white;
    height: 41px;
    background: #7935ff;
    margin-left: 0.5rem;
    @media (max-width: 770px) {
      margin-left: 0;
    }
  }
}

.css-1qtlriq-SkeletonTheme .react-loading-skeleton {
  background-image: linear-gradient( 90deg,#c5acac,#8b7575,#8e7272 ) !important;
}